<div class="container">
	<div class="row">
        <div class="col-md-12">
            <div >
                <a class="btn btn-primary" href="/sections/add" data-toggle="modal">AddSection</a>
            </div>
        <h4>Danh sách danh mục</h4>
        <div class="table-responsive">
            <table id="mytable" class="table table-bordred table-striped">
                <thead>
                    <th>Tên danh mục</th>
                    <th>Mô tả</th>
                    <th>Edit</th>
                    <th>Delete</th>
                    <th>AddNew</th>
                </thead>
                <tbody>
                    {{#each sections}}
                    <tr>
                    <td>{{name}}</td>
                    <td>{{description}}</td>
                    <td style="width:6%"><p data-placement="top" data-toggle="tooltip" title="Edit"><a href="../sections/edit/{{id}}" class="btn btn-primary btn-xs glyphicon glyphicon-pencil" data-title="Edit" data-toggle="modal" data-target="#edit" /></p></td>
                    <td style="width:6%"><p data-placement="top" data-toggle="tooltip" title="Delete"><a href="../sections/delete/{{id}}" class="btn btn-danger btn-xs glyphicon glyphicon-trash" data-title="Delete" data-toggle="modal" data-target="#delete" /></p></td>
                    <td style="width:6%"><p data-placement="top" data-toggle="tooltip" title="AddNew"><a href="../sections/add" class="btn btn-success btn-xs glyphicon glyphicon-plus-sign" data-title="AddNew" data-toggle="modal" data-target="#addnew" /></p></td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
            </div>
        </div>
	</div>
</div>