<div class="container">
<div class="row">
    <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
    	<form role="form" method="POST" action="/sections/edit/{{sections.id}}">
			<h2>Thông tin danh mục</h2>
			<hr class="colorgraph">
			<div class="row">
				<div class="form-group">
					<div class="form-group">
                        <input type="text" class="form-control input-lg" name="name" placeholder="Tên danh mục" tabindex="1" value="{{sections.name}}" required>
					</div>
				</div>
					<div class="form-group">
						<textarea class="form-control input-lg" rows="3" name="description" placeholder="Mô tả" tabindex="2" value="{{sections.description}}"></textarea>
					</div>
			</div>
			<hr class="colorgraph">
			<div class="row">
				<div class="col-xs-6 col-md-6"><input type="submit" value="Update" class="btn btn-primary btn-block btn-lg" tabindex="6"></div>
				<div class="col-xs-6 col-md-6"><a href="/sections" class="btn btn-danger btn-block btn-lg">Cancel</a></div>
			</div>
		</form>
	</div>
</div>